.footer{
    background-color: #ffeff2;
    bottom: 0;
}

.footer-section{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

.footer-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer-title{
    margin-bottom: 0px;
    font-family: 'Lobster', cursive;
    color: #A57982;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 40px;
}

.about-me-footer{
    text-align: justify;
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 700;
    color: #AD8B73;
}
.about-me-footer span{
   color: #CE49BF;
    font-weight: 900;
    cursor: pointer;
}
.footer-div.special-div{
    margin-left: 60px;
}

.footer-div.special-div2{
    margin-left: 40px;
}

.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-links a{
    text-decoration: none;
    color: #AD8B73;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    transition: 0.4s;
}

.footer-links a:hover{
    color: #CE49BF;
}
.contact-div {
    margin-bottom: 20px;
}

.contact-div span{
    text-align: justify;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #AD8B73;
}
.contact-div .icon{
    color: #632626;
    margin-right: 10px;
}

.copyright{
    background-color: #632626;
    color: white;
    padding: 20px;
    text-align: center;
}
.copyright p{
    margin-bottom: 0px;
}

@media only screen and (max-width: 576px) {
    .footer-section{
        display: flex;
        flex-direction: column;
    }
    .footer-links{
        display: flex;
        align-items: center;
    }
    .footer-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .about-me-footer{
        padding: 10px
    }
    .footer-div.special-div{
        margin-left: 0px;
    }
    
    .footer-div.special-div2{
        margin-left: 0px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .footer-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .footer-div.special-div{
        margin-left: 0px;
    }
    
    .footer-div.special-div2{
        margin-left: 0px;
    }
}